@model Data
@{
    ViewData["Title"] = "SignUp";

}
<div class="text-left">
    <h1 style="font-size:35px; color:#333333">Sign up result</h1>
</div>
<div style="width:500px;display:flex">
    <div style=" width:200px; text-align:right">

    </div>
    <div style="width: 300px; margin-left: 10px;margin-top:2px">
        @Model.FirstName<br>
        @Model.LastName<br>
        @Model.Day
        @Model.Month
        @Model.Year<br>
        @Model.Email<br>
        @Model.Password<br>

    </div>
</div>
